<%#
  To create a form for a resource (i.e. a model), use
  the form_with helper instead of form_tag. Its usual
  arguments are:
  - A named argument 'model' which is assigned an
  instance of a model (i.e. a new question)
  -url will give the redirect path
  -method will post the http method for the form
  - A block that is passed the form object, where
   we build the HTML inside the form (i.e. labels,
   inputs, submission buttons, etc.)
    All data from the input fields a form built with this will have its name-value nested in a hash named
   after the class of the passed in model
   (e.g. <input type="text" name="question[title]" id="question_title"> => { "question": { "title": "What?"} })
%>

<%= form_with(model: @question) do |form| %>
  <div>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <br>
    <%= form.text_area :body, cols:50, rows: 5 %>
  </div>
  <div class="tag-wrapper">
    <%= form.label :tag_names %>
    <%= form.text_field :tag_names %>
  </div>
  <%= form.submit %>

<% end %>

<script>
  <%# selectize doc:
    https://github.com/selectize/selectize.js/blob/master/docs/usage.md
    %>

    $(function() {
      $('#question_tag_names').selectize({
        delimeter: ',',
        persist: false,
        labelField: 'name', //Column name in database
        valueField: 'name', //Column name in database
        searchField: 'name', //Column name in database
        options: <% Tag.select(:name).to_json(except: [:id]).html_safe %>,
        //The above line selects only names from tags table and converts them to
        //a json array of objects without including ids and makes sure it is html safe string
        //options: [{"name": "first tag name"}, {"name": "second tag name"}, etc]
        create: function(input){
          return {
            name: input
          }
        }
      });
    });
</script>


